	<% var services = [
		{name: "Genome Assembly", href: "/app/Assembly"},
		{name: "Genome Annotation", href: "/app/Annotation"},
		{name: "BLAST", href: "/app/BLAST"},
		{name: "Variation Analysis", href: "/app/Variation"},
		{name: "RNA-Seq Analysis", href: "/app/Rnaseq"},
		{name: "Protein Family Sorter", href: "/app/ProteinFamily"},
		{name: "Proteome Comparison", href: "/app/SeqComparison"},
		{name: "Comparative Pathways", href: "/app/ComparativePathway"},
		{name: "Metabolic Reconstruction", href: "/app/Reconstruct"}
	] %>

	<% var flows = [
		{name: "NEW PATRIC WEBSITE", secondary: "BETA RELEASE", rel: "carousel_betasite", background: "#34698e"},
		{name: "FIRST US CASE", secondary: "COLISTIN-RESISTANT E. COLI", rel: "carousel_news1", background: "#34698e"},
		{name: "ASSEMBLE AND ANNOTATE",secondary: "GENOMES", rel: "carousel_news3", background: "#34698e"},
		{name: "SUPPORTING",secondary: "THE TB COMMUNITY", rel: "carousel_news4", background: "#34698e"}
	] %>

	<% var workShops = [
		/*{
			publishDate: new Date(),
			title: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
			summary: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
		}*/
	] %>




<div class="home"kkkjj>

	<div style="background-color:#f3f3f3;padding-top:10px;">
		<div class="layer">
			<% include masthead %>
			<% include Banner%>
		</div>
		<div class="layer" style="text-align: center;margin-bottom:0px;">
			<div data-dojo-type="dijit/layout/StackContainer" class="carousel" style="background:#f3f3f3;width:100%;margin: auto;margin-top:-1px;margin-bottom:0px;padding:4px;" id="p3carousel">
<!--
				<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="id:'carousel_home'">		
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td style="width: 200px;padding:0px;vertical-align:top;border:4px solid #629821;background:#fff;border-radius:4px;">

								<div style="vertical-align:top;margin: 0px; width:100%;">
									<div style="font-size:1.2em;"><a style="font-weight:bold" class="DialogButton" rel="Search:">Search</a> or <a style="font-weight:bold" class="DialogButton" rel="Explore:">Browse</a> Data</div>
									<div style="text-align:left;">
										<ul>
											<li>Genomes</li>
											<li>Genomic Features</li>
											<li>Protein Families</li>
											<li>Transcriptomics Experiments</li>
										</ul>
									</div>
								</div>
								</td>
							<td style="vertical-align:top;">
								<div style="margin: 4px; width:100%; border: 0px;padding-top:30px;">
									<span class="fa-4x icon-long-arrow-right"></span><br>
									<span class="fa-4x icon-long-arrow-left"></span>
								</div>
							</td>
							<td style="width: 210px;padding:0px;vertical-align:top;border:4px solid #629821;background:#fff;border-radius:4px;">
								<div style="vertical-align: top; margin: 0px;width:100%;">
									<div style="font-size:1.2em;font-weight:bold;">Analyze</div>
									<div style="text-align:left;">
										<ul>
										<% services.forEach(function(svc,index) { %>
											<li style="margin:4px;"><a href="<%- svc.href %>"><%- svc.name %></a></li>
										<% }) %>
										</ul>
									</div>
								</div>
							</td>
							<td style="vertical-align:top;">
								<div style="margin: 4px; width:100%; border: 0px;padding-top:30px;">
									<span class="fa-4x icon-long-arrow-right"></span><br>
									<span class="fa-4x icon-long-arrow-left"></span>
								</div>
							</td>
							<td style="width: 200px;padding:0px;vertical-align:top;border:4px solid #629821;background:#fff;border-radius:4px;">
								<div style="vertical-align: top; margin:0px;width:100%;">
									<div style="font-size:1.2em;font-weight:bold;">Workspace</div>
									<div style="text-align: left;">
										<ul>
											<li><a class="DialogButton" style="cursor:pointer;" rel="Upload:">Upload Your Data</a>
												<ul>
													<li>Contigs</li>
													<li>Reads</li>
													<li>Differential Expression Data</li>
													<li>FASTA Files</li>
												</ul>
											</li>
											<li>Create and Combine Data Groups</li>
											<li>Store and share analyses</li>
									</div>
								</div>

							</td>
						</tr>
					</table>
				</div>
-->

			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_betasite" class="CarouselContent showOnLoad dijitHidden">

<div class="wrapper"><img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2016/09/Screen-Shot-2016-09-12-at-3.45.12-PM.png"><h2 class="xxxl sans-alternate upper highlight-e">PATRIC Beta Website Release</h2><h3 class="xl highlight-f upper far"></h3><p>A new Beta version of the PATRIC website has now been released and is available at <a class="moz-txt-link-freetext" href="https://www.beta.patricbrc.org/" target="_blank">https://www.beta.patricbrc.org/</a>. The Beta release is provided for formative evaluation purposes. <span class="">Your opinion is very valuable to us. You can participate by test-driving the Beta site and providing us feedback from the Help / Provide Feedback menu option.</span>

The Beta site will become the new Production site in late November 2016. In the interim, the <i>current</i> Production version of the PATRIC website is still available at <a class="moz-txt-link-freetext" href="https://www.patricbrc.org/" target="_blank">https://www.patricbrc.org</a>.</p><p><a class="button upper sans-alternate largest highlight avoid-arrow" href="https://www.beta.patricbrc.org/">Beta Site</a></p>
		<br><br><br><br><br><br><br><br>
</div>

			</div>


			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_news1" class="CarouselContent showOnLoad dijitHidden">
				<div class="wrapper"><img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2016/05/Screen-Shot-2016-05-27-at-1.18.24-PM1.png"><h2 class="xxxl sans-alternate upper highlight-e">First US Case of E. Coli Resistant to Colistin</h2><h3 class="xl highlight-f upper far"></h3><p>The assembled genome of Colistin-resistant <em>E. coli</em> MRSN 388634 is now available in PATRIC <a href="/view/Genome/562.10576">here</a>. Sequence reads for MRSN388634 have been deposited in the NCBI Short Read Archive by researchers at the Walter Reed Army Institute of Research and Walter Reed National Military Medical Center under Accession number SRP075674. The authors report the presence of mcr-1 in an <em>E. coli</em> cultured from a patient with a urinary tract infection in the United States. The early version of the publication can be found at “<a href="http://aac.asm.org/content/early/2016/05/25/AAC.01103-16.full.pdf">http://aac.asm.org/content/early/2016/05/25/AAC.01103-16.full.pdf</a>”.A provisional assembly and annotation is provided in PATRIC using the PATRIC Genome Assembly and Genome Annotation services and can be accessed <a href="/view/Genome/562.10576">here</a>. We will provide the GenBank version of the assembly once the genome becomes available in GenBank. We would like to thank the members of the Walter Reed team for their early release of the data in the Short Read Archive.</p><br/><p><a class="button upper sans-alternate largest highlight avoid-arrow" href="/view/Genome/562.10576">Genome</a></p></div>
			</div>
	
			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_news2" class="CarouselContent showOnLoad dijitHidden">
<div class="wrapper"><img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2014/05/AR_carousel.jpg"><h2 class="xxxl sans-alternate upper highlight-e">Antibiotic Resistance Data</h2><h3 class="xl highlight-f upper far">for Infectious Disease Research</h3><p>Antibiotic Resistance refers to the ability of bacteria to develop resistance to antibiotics through gene mutation or acquisition of antibiotic resistance genes. &nbsp;PATRIC collects known antibiotic resistance genes from reputed external databases and publications and maps them to homologous genes using BLASTP, so you can easily find and analyze them with PATRIC tools. &nbsp;We also incorporate antibiotic susceptibility testing results as additional genome metadata.</p><br/><p><a class="button upper sans-alternate largest highlight avoid-arrow" href="/view/DataType/AntibioticResistance">Explore Data</a></p></div>
			</div>

			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_news3" class="CarouselContent showOnLoad dijitHidden">
			<div class="wrapper"><img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2015/03/Assemble-Annotate_carousel2.png"><h2 class="xxxl sans-alternate upper highlight-e">Assemble and Annotate</h2><h3 class="xl highlight-f upper far">Your Genome Sequences</h3><p>PATRIC's new Genome Assembly Service App performs automatic genome assembly using the latest computational tools. Single or multiple assemblers can be invoked to compare results. PATRIC's new&nbsp;Genome Annotation Service App utilizes the RASTtk (Rapid Annotation using Subsystem Technology tookit) to enables researchers to build custom annotation pipelines for annotation of bacterial and archaeal genomes. &nbsp;These services are delivered through a new PATRIC Workspace that also supports other services including Differential Expression.</p><br/>
				<p><a class="button upper sans-alternate largest highlight avoid-arrow" href="/app/Assembly">Genome Assembly</a> &nbsp; <a class="button upper sans-alternate largest highlight avoid-arrow" href="/app/Annotation">Genome Annotation</a></p>
			</div>
			</div>

			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_news4" class="CarouselContent showOnLoad dijitHidden">
			<div class="wrapper"><img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2013/05/Mycobacterium_tuberculosis_14313982_1.jpg"><h2 class="xxxl sans-alternate upper highlight-e">Supporting the TB Research Community</h2><h3 class="xl highlight-f upper far">THROUGH NEW TB@PATRIC RESOURCES</h3><p>PATRIC announces new web-based features designed to serve TB researchers worldwide. This resource provides fast searching and powerful comparative analysis tools for all <i>Mycobacterium tuberculosis</i> genomes, including the H37Rv reference genome, its variants and other members in the tuberculosis complex. Also included are important reference genomes, <i>M. smegmatis</i> and <i>M. marinum</i>.</p><br/><p><a class="button upper sans-alternate largest highlight avoid-arrow" href="/view/Taxonomy/1763#view_tab=overview">Visit TB@PATRIC</a></p></div>
			</div>

			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_comparative_genomics" class="CarouselContent showOnLoad dijitHidden">
				<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Comparative Genomics Workflow</div>
				<table style="width:100%;margin-right:4px;">
						<tr>
							<td colspan="3"></td>
							<td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/SeqComparison">Proteome Comparison</a></div></td>
							<td colspan="4"></td>
						</tr>
						<tr>
							<td><div class="FlowBoxItem">Search for Genomes</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Create Genome Set</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Protein Family Sorter</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Heatmap Clustering</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">MSA<br>Gene Trees</div></td>
						</tr>
		
						<tr>
							<td colspan="3"></td>
							<td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/ComparativePathway">Comparative Pathways</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Pathway Map<br>Heatmap</div></td>
						</tr>
					</table>
				</div>


				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_genomics" class="genomicsWorkflow showOnLoad dijitHidden">
					<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Genomics Workflow</div>
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td><div class="FlowBoxItem DialogButton" rel="Upload:">Upload Reads</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Assembly">Assemble</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Annotation">Annotate</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Genomic Overview<br>Genomic Features<br>Specialty Genes<br>Pathways</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Genome Browser<br>Circular Viewer</div></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-up"></div></td><td colspan="4"></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxItem" class="DialogButton" rel="Upload:">Upload Preassembled<br>Contigs</div></td><td colspan="4"></td>
						</tr>
					</table>
				</div>

				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_transcriptomics" class="showOnLoad dijitHidden">
					<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Gene Expression Analysis</div>
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td><div class="FlowBoxItem DialogButton" rel="Upload:">Upload Reads</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Rnaseq">RNA-Seq Analysis</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="">Differential Expression Analysis</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Heatmap<br>Clustering</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Pathway Analysis</div></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-up"></div></td><td colspan="4"></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxItem" class="DialogButton" rel="Upload:">Upload Differential Epxressions</div></td><td colspan="4"></td>
						</tr>
					</table>
				</div>
				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_variation_analysis" class="showOnLoad dijitHidden">
					Variation Analysis Workflow Overview
				</div>
			</div>
		</div>
	</div>


	<div style="margin:0px;padding:0px;background: #5a8621;margin-bottom:4px; box-shadow:0px 0px 96px -23px rgba(0,0,0,0.75);z-index:1000;position: relative;">
		<div style="margin:auto;width:925px;padding:0px;" >
			<table style="width:100%" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<% flows.forEach(function(svc,index) { %>
							<td style="width:25%" class="HomeServiceLink<% if (index<1) { %> selected <% } %>" rel="<%- svc.rel %>">
								<H3 class="highlight-b"><%- svc.name %></H3>
								<H4><%- svc.secondary %></H4>
							</td>
						<% }) %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="homeBottomSection">
		<div class="layer" style="text-align: center;">
			<table style="width: 100%">
				<tr>
					<td style="vertical-align:top;width:70%;">

						<article class="dlp-hp">
							<h2 class="wp-headline section-title section-title-b"><span class="wrap"><span class="wrap">Browse Data</span></span></h2>
							<ul class="no-decoration no-underline-links">
								<li class="first"><figure><a href="/view/DataType/Genomes"><img src="/patric/images/dlp-hp-genomes.png" alt="Genomes"></a>
									<figcaption>GENOMES</figcaption>
								</figure></li>
								<li><figure><a href="/view/DataType/GenomicFeatures"><img src="/patric/images/dlp-hp-features.png" alt="Genomic Features"></a>
									<figcaption>GENOMIC FEATURES</figcaption>
								</figure></li>
								<li><figure><a href="/view/DataType/SpecialtyGenes"><img src="/patric/images/dlp-hp-specialtygenes.png" alt="Specialty Genes"></a>
									<figcaption>SPECIALTY GENES</figcaption>
								</figure></li>
								<li><figure><a href="/view/DataType/ProteinFamilies"><img src="/patric/images/dlp-hp-proteins.png" alt="Protein Families"></a>
									<figcaption>PROTEIN FAMILIES</figcaption>
								</figure></li>
								<li><figure><a href="/view/DataType/Pathways"><img src="/patric/images/dlp-hp-pathways.png" alt="Pathways"></a>
									<figcaption>PATHWAYS</figcaption>
								</figure></li>
								<li class="last"><figure><a href="/view/DataType/Transcriptomics"><img src="/patric/images/dlp-hp-transcriptomics.png" alt="Transcriptomic Experiments"></a>
									<figcaption>EXPERIMENTS</figcaption>
								</figure></li>
							</ul>
						</article>

						<article class="tools" style="overflow:hidden;">
					
						<h2 class="wp-headline section-title section-title-b tools_headline" ><span class="wrap">What Can I Do @ PATRIC?</span></h2>
					<div>
					<div class="column" style="width: 311px;display:inline-block;vertical-align:top;float:left;margin-right:10px;">
						<ul class="no-decoration no-underline-links">
							<li class="clear">
								<figure class="figure-right">
									<a href="/app/Assembly">
										<img src="http://enews.patricbrc.org/wp-content/uploads/2015/03/Assembly-thumb-100x75.png" alt="Genome Assembly">
									</a>
								</figure>
								<h4 class="bold"><a href="/app/Assembly">Genome Assembly</a></h4>
								<p>The Genome Assembly Service App can be used to perform an automatic genome assembly using the latest computational tools. Single or multiple assemblers can be invoked to compare results.&nbsp;<strong>Note:&nbsp;</strong><em>You must have a PATRIC user account and be logged in to use this service.</em>
								</p>
							</li>
							<li class="clear">
								<figure class="figure-right">
									<a href="/app/ProteinFamily">
										<img src="http://enews.patricbrc.org/wp-content/uploads/2012/03/protein_family_sorter_for_homepage_tool.png" alt="Protein Family Sorter">
									</a>
								</figure>
								<h4 class="bold">
								<a href="/app/ProteinFamily">Protein Family Sorter
								</a>
								</h4>
								<p>Compares protein families across closely related or diverse groups of genomes, visualizes them using interactive heatmaps, and generates multiple sequence alignments and phylogenetic trees for individual families. The heatmap view is an interactive visualization tool that provides an overview of the distribution of proteins across a selected set of genomes.
								</p>
							</li>
							<li class="clear">
								<figure class="figure-right">
									<a href="/view/Taxonomy/2#view_tab=genomes">
										<img src="http://enews.patricbrc.org/wp-content/uploads/2012/03/collage-100x75-05.png" alt="Genome Metadata">
									</a>
								</figure>
								<h4 class="bold">
								<a href="/view/Taxonomy/2#view_tab=genomes">Genome Metadata
								</a>
								</h4>
								<p>Supports searching for and locating genomes of interest based on various combinations of 61 different metadata fields. For instance, all genomes that have been isolated from humans, genomes related by phylogeny, or genomes related by lifestyle.
								</p>
							</li>
						</ul>
					</div>
						<div class="column last" >
							<ul class="no-decoration no-underline-links"><li class="clear"><figure class="figure-right"><a href="/app/Annotation"><img src="http://enews.patricbrc.org/wp-content/uploads/2012/05/Genome-Annotation-thumb-100x70.png" alt="Genome Annotation"></a></figure><h4 class="bold"><a href="/app/Annotation">Genome Annotation</a></h4><p>The Genome Annotation Service is a fully-automated pipeline for annotating bacterial and archaeal genomes using RAST (Rapid Annotation using Subsystem Technology) to provide high quality genome annotations.&nbsp;<strong>Note:&nbsp;</strong><em>You must have a PATRIC user account and be logged in to use this service.</em></p></li><li class="clear"><figure class="figure-right"><a href="/app/ComparativePathway"><img src="http://enews.patricbrc.org/wp-content/uploads/2012/03/comparative_pathways_for_homepage_tool.png" alt="Comparative Pathway Tool"></a></figure><h4 class="bold"><a href="/app/ComparativePathway">Comparative Pathway Tool</a></h4><p>Supports comparison of consistently annotated metabolic pathways across closely related or diverse groups of genomes and visualizes them using interactive KEGG maps and heatmaps. The heatmap view is an interactive visualization&nbsp;tool that provides an overview of the distribution of genomes across the set of EC numbers within a selected pathway.</p></li><li class="clear"><figure class="figure-right"><a href="/view/Feature/PATRIC.83332.12.NC_000962.CDS.2949593.2950486.fwd#view_tab=transcriptomics"><img src="http://enews.patricbrc.org/wp-content/uploads/2013/06/gene_page_homepage_tool.jpg" alt="Gene Page Transcriptomics"></a></figure><h4 class="bold"><a href="/view/Feature/PATRIC.83332.12.NC_000962.CDS.2949593.2950486.fwd#view_tab=transcriptomics">Gene Page Transcriptomics</a></h4><p>Summarizes all comparisons in which a gene is differentially expressed and associated metadata such as Strain, Gene Modification, and Experimental Condition.&nbsp;Expression value based filters and metadata graphical summaries enable quick discovery of top experimental conditions and gene manipulations related to the differential expression of the gene. <b>Note:</b> <i>Links to example Gene Page for </i><i>VBIMycTub87468_2933</i><i>.&nbsp;</i></p></li></ul>
						</div>
						<!-- <div class="right">
							<a class="double-arrow-link" href="Tools">Show all available
								tools</a>
						</div>
						-->
					</div>
				</article>


						<h2 class="section-title section-title-b"><span class="wrap">Recent News</span></h2>
						<% news.forEach(function(svc,index) { %>
							<div style="text-align:left;margin:0px;margin-top:10px;margin-left:4px;"><span style="padding:4px;color:#555;font-weight:normal;"><%- new Date(Date.parse(svc.pubDate)).toLocaleDateString() %></span></div>
							<div style="border:0px; border-top:1px solid #ddd;text-align:center;padding-top:6px;margin:4px;margin-bottom:8px;margin-top:0px;">
								<div style="font-size:1.3em;text-align:left;padding-left: 20px;color:#000;"><a href="<%- svc.link %>"><%- svc.title %></a></div>
								<div style="text-align:left;padding-left:20px;"><%- svc.summary %></div>
							</div>
						<% }) %>
						<div style="text-align:right;"><a href="http://enews.patricbrc.org">Read More</a></div>
					</td>
					<td style="width:10px;"></td>
					<td style="vertical-align:top;">
						<h2 class="section-title section-title-b"><span class="wrap">Top 10 Genera</span></h2>
						<div data-dojo-type="p3/widget/TaxonomyTopNSummary" data-dojo-props="count:10" style="width:100%;margin:0px;"></div>
						<div style="text-align:right;"><a class="navigationLink" href="/view/Taxonomy/2">Explore All Genera</a></div>
						<% include workshops %>
					</td>
		
				</tr>
			</table>
		</div>
	</div>
			<footer class="ondark linkstyle-highlight-c smallest no-underline-links main-footer sans-alternate">
				<div class="layer">
				<div class="container">
					<div class="column" style="border: 0px; min-height: 143px;">
						<div class="wrapper">
							<h4 class="close2x normal-weight">PATRIC</h4>
							<p class="close">University of Chicago</p>
							<p class="close">5801 South Ellis Avenue</p>
							<p>Chicago, IL 60637-5418</p>
						</div>
					</div>
					<div class="column" style="min-height: 143px;">
						<div class="wrapper">
							<h4 class="normal-weight close2x">How to Cite PATRIC</h4>
							<p>If you use PATRIC web resources to assist in research publications or proposals please cite as:</p>
							<a class="button" href="/content/CitePATRIC">How to cite PATRIC</a>
						</div>
					</div>
					<div class="column" style="min-height: 143px;">
						<div class="wrapper">
							<h4 class="normal-weight close2x">Funding Statement</h4>
							<p>This project has been funded in whole or in part with Federal funds from the National Institute of Allergy and Infectious Diseases,
	                                                        National Institutes of Health, Department of Health and Human Services,
	                                                        under Contract No. HHSN272201400027C, awarded to RL Stevens</p>
						</div>
					</div>
					<div class="column last bold" style="min-height: 143px;">
						<div class="wrapper">
							<h4 class="normal-weight close">Follow Us</h4>
							<ul class="left no-decoration">

								<li><a class="footer-icons sprite-icon-twitter" href="//twitter.com/PATRICBRC">Twitter</a></li>
								<li class="last"><a class="footer-icons sprite-icon-facebook" href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a></li>
							</ul>
							<ul class="left no-decoration">
								<li><a class="footer-icons sprite-icon-rss" href="http://enews.patricbrc.org/feed/">RSS</a></li>
								<li><a class="footer-icons sprite-icon-youtube" href="//www.youtube.com/user/PATRICBRC">YouTube</a></li>
								<li class="last"><a class="footer-icons sprite-icon-share" href="//www.addthis.com/bookmark.php?v=250&amp;username=xa-4c40660c515875dc">Share This</a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</footer>
</div>
