	<% var services = [
		{name: "Genome Assembly", href: "/app/Assembly"},
		{name: "Genome Annotation", href: "/app/Annotation"},
		{name: "BLAST", href: "/app/BLAST"},
		{name: "Variation Analysis", href: "/app/Variation"},
		{name: "RNA-Seq Analysis", href: "/app/Rnaseq"},
		{name: "Protein Families Comparison", href: "/app/ProteinFamily"},
		{name: "Proteome Comparison", href: "/app/SeqComparison"},
		{name: "Comparative Pathways", href: "/app/ComparativePathway"},
		{name: "Metabolic Reconstruction", href: "/app/Reconstruct"}
	] %>

	<% var flows = [
		{name: "Annotate and Assemble Genomes", rel: "carousel_genomics", background: "#34698e"},
		{name: "Comparative Genomics", rel: "carousel_comparative_genomics", background: "#34698e"},
		{name: "Transcriptomics", rel: "carousel_transcriptomics", background: "#34698e"},
		{name: "Variation Analysis", rel: "carousel_variation_analysis", background: "#34698e"}
	] %>

	<% var workShops = [
		/*{
			publishDate: new Date(),
			title: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
			summary: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
		}*/
	] %>




<div>

	<div style="background-color:#f3f3f3;padding-top:10px;">
		<% include Banner%>
		<div class="layer" style="text-align: center;margin-bottom:0px;">
			<div data-dojo-type="dijit/layout/StackContainer" style="background:#f3f3f3;width:100%;margin: auto;margin-top:-1px;margin-bottom:0px;padding:4px;" id="p3carousel">

				<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="id:'carousel_home'">
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td style="width: 200px;padding:0px;vertical-align:top;border:4px solid #34698e;background:#fff;border-radius:4px;">

								<div style="vertical-align:top;margin: 0px; width:100%;">
									<div style="font-size:1.2em;"><a style="font-weight:bold" class="DialogButton" rel="Search:">Search</a> or <a style="font-weight:bold" class="DialogButton" rel="Explore:">Browse</a> Data</div>
									<div style="text-align:left;">
										<ul>
											<li>Genomes</li>
											<li>Genomic Features</li>
											<li>Protein Families</li>
											<li>Transcriptomics Experiments</li>
										</ul>
									</div>
								</div>
								</td>
							<td style="vertical-align:top;">
								<div style="margin: 4px; width:100%; border: 0px;padding-top:30px;">
									<span class="fa-4x icon-long-arrow-right"></span><br>
									<span class="fa-4x icon-long-arrow-left"></span>
								</div>
							</td>
							<td style="width: 210px;padding:0px;vertical-align:top;border:4px solid #629821;background:#fff;border-radius:4px;">
								<div style="vertical-align: top; margin: 0px;width:100%;">
									<div style="font-size:1.2em;font-weight:bold;">Analyze</div>
									<div style="text-align:left;">
										<ul>
										<% services.forEach(function(svc,index) { %>
											<li style="margin:4px;"><a href="<%- svc.href %>"><%- svc.name %></a></li>
										<% }) %>
										</ul>
									</div>
								</div>
							</td>
							<td style="vertical-align:top;">
								<div style="margin: 4px; width:100%; border: 0px;padding-top:30px;">
									<span class="fa-4x icon-long-arrow-right"></span><br>
									<span class="fa-4x icon-long-arrow-left"></span>
								</div>
							</td>
							<td style="width: 200px;padding:0px;vertical-align:top;border:4px solid #9732ce;background:#fff;border-radius:4px;">
								<div style="vertical-align: top; margin:0px;width:100%;">
									<div style="font-size:1.2em;font-weight:bold;">Workspace</div>
									<div style="text-align: left;">
										<ul>
											<li><a class="DialogButton" style="cursor:pointer;" rel="Upload:">Upload Your Data</a>
												<ul>
													<li>Contigs</li>
													<li>Reads</li>
													<li>Differential Expression Data</li>
													<li>FASTA Files</li>
												</ul>
											</li>
											<li>Create and Combine Data Groups</li>
											<li>Store and share analyses</li>
									</div>
								</div>

							</td>
						</tr>
					</table>
				</div>


			<div data-dojo-type="dijit/layout/ContentPane" id="carousel_comparative_genomics" class="showOnLoad dijitHidden">
				<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Comparative Genomics Workflow</div>
				<table style="width:100%;margin-right:4px;">
						<tr>
							<td colspan="3"></td>
							<td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/SeqComparison">Proteome Comparison</a></div></td>
							<td colspan="4"></td>
						</tr>
						<tr>
							<td><div class="FlowBoxItem">Search for Genomes</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Create Genome Set</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Protein Family Sorter</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Heatmap Clustering</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">MSA<br>Gene Trees</div></td>
						</tr>
		
						<tr>
							<td colspan="3"></td>
							<td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/ComparativePathway">Comparative Pathways</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Pathway Map<br>Heatmap</div></td>
						</tr>
					</table>
				</div>


				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_genomics" class="genomicsWorkflow showOnLoad dijitHidden">
					<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Genomics Workflow</div>
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td><div class="FlowBoxItem DialogButton" rel="Upload:">Upload Reads</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Assembly">Assemble</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Annotation">Annotate</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Genomic Overview<br>Genomic Features<br>Specialty Genes<br>Pathways</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Genome Browser<br>Circular Viewer</div></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-up"></div></td><td colspan="4"></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxItem" class="DialogButton" rel="Upload:">Upload Preassembled<br>Contigs</div></td><td colspan="4"></td>
						</tr>
					</table>
				</div>

				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_transcriptomics" class="showOnLoad dijitHidden">
					<div style="font-weight:bold;font-size:1.2em;margin-bottom:10px;">Gene Expression Analysis</div>
					<table style="width:100%;margin-right:4px;">
						<tr>
							<td><div class="FlowBoxItem DialogButton" rel="Upload:">Upload Reads</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="/app/Rnaseq">RNA-Seq Analysis</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem"><a href="">Differential Expression Analysis</a></div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Heatmap<br>Clustering</div></td>
							<td> <div class="FlowBoxArrow"><span class="fa-4x icon-arrow-right"></span></div></td>
							<td><div class="FlowBoxItem">Pathway Analysis</div></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxArrow"><span class="fa-4x icon-arrow-up"></div></td><td colspan="4"></td>
						</tr>
						<tr>
							<td colspan="4"></td><td><div class="FlowBoxItem" class="DialogButton" rel="Upload:">Upload Differential Epxressions</div></td><td colspan="4"></td>
						</tr>
					</table>
				</div>
				<div data-dojo-type="dijit/layout/ContentPane" id="carousel_variation_analysis" class="showOnLoad dijitHidden">
					Variation Analysis Workflow Overview
				</div>
			</div>
		</div>
	</div>
	<div class="homeBottomSection">
		<div class="layer" style="text-align: center;">

			<h1>How do I...</h1>

			<div style="margin-bottom:12px;">
				<% flows.forEach(function(svc,index) { %>
					<div class="HomeServiceLink" rel="<%- svc.rel %>" style="background-color:<%- svc.background %>">
						<span><%- svc.name %></span>
					</div>
				<% }) %>

			</div>
			<table style="width: 100%">
				<tr>
					<td style="vertical-align:top;width:60%;">
						<div class="section-title">Recent News</div>
						<% news.forEach(function(svc,index) { %>
							<div style="text-align:left;margin:0px;margin-top:10px;margin-left:4px;"><span style="padding:4px;color:#fff;background:#000;"><%- new Date(Date.parse(svc.pubDate)).toLocaleDateString() %></span></div>
							<div style="border:1px solid #ddd;text-align:center;padding-top:6px;margin:4px;margin-bottom:8px;margin-top:0px;">
								<div style="font-size:1.3em;text-align:left;padding-left: 20px;color:#000;"><a href="<%- svc.link %>"><%- svc.title %></a></div>
								<div style="text-align:left;padding-left:20px;"><%- svc.summary %></div>
							</div>
						<% }) %>
						<div style="text-align:right;"><a href="http://enews.patricbrc.org">Read More</a></div>
					</td>
					<td style="width:10px;"></td>
					<td style="vertical-align:top;">
						<div class="section-title">Top 10 Genera	</div>
						<div data-dojo-type="p3/widget/TaxonomyTopNSummary" data-dojo-props="count:10" style="width:100%;height:315px;margin:4px;margin-bottom: 5px;"></div>
						<div style="text-align:right;"><a class="navigationLink" href="/view/TaxonList/?&eq(taxon_rank,genus)">Explore All Genera</a></div>
						<% include workshops %>
					</td>
		
				</tr>
			</table>
		</div>
	</div>
</div>
