<% var flows = [
    {name: "Protein Family Sorter Webinar", secondary: "May 31, 2018 at 3pm EST", rel: "carousel_webinar", background: "#34698e"}
    , {name: "PATRIC/RAST Workshop", secondary: "Atlanta, GA June 7", rel: "carousel_workshop_asm", background: "#34698e"}
    , {name: "PATRIC Homepage", secondary: "New Design", rel: "carousel_homepage", background: "#34698e"}
    , {name: "PATRIC Subsystems", secondary: "New Functionality", rel: "carousel_subsystems", background: "#34698e"}
    // , {name: "PATRIC/RAST Workshop", secondary: "Argonne, IL May 7 - 9", rel: "carousel_workshop_anl", background: "#34698e"}
    // , {name: "PATRIC CLI", secondary: "Command Line Interface", rel: "carousel_cli", background: "#34698e"}
    // , {name: "New Services & Data", secondary: "In PATRIC", rel: "carousel_service", background: "#34698e"}
    // , {name: "100,000 Genomes", secondary: "In PATRIC", rel: "carousel_100k", background: "#34698e"}
    // , {name: "INVESTIGATING", secondary: "ANTIBIOTIC RESISTANCE", rel: "carousel_ar", background: "#34698e"}
    // , {name: "SUPPORTING", secondary: "THE TB COMMUNITY", rel: "carousel_tb", background: "#34698e"}
] %>

<div class="home">

    <div style="background-color:#f3f3f3;padding-top:10px;">
        <div class="layer">
            <% include masthead %>
            <% include Banner %>
        </div>
        <div class="layer" style="text-align: center;margin-bottom:0px;height:351px;">
            <div data-dojo-type="dijit/layout/StackContainer" class="carousel"
                 style="background:#f3f3f3;width:100%;margin: auto;margin-top:-1px;margin-bottom:0px;padding:4px;"
                 id="p3carousel">

                <!-- Webinar -->
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_webinar" class="CarouselContent showOnLoad dijitVisible">
                    <div class="wrapper">
                        <img class="right" src="/patric/images/carousel/patric_webinars_small.png" alt="PATRIC Webinars">
                        <h1 class="xxxl sans-alternate upper highlight-e">Upcoming Webinar</h1>
                        <h2 class="xl highlight-f upper far">Protein Family Sorter</h2>
                        <br>
                        <p>Learn how to compare 100s of genomes using PATRIC's Protein Family Sorter.  We are hosting a webinar on May 31, 2018 at 3pm EST. Click <a href="http://docs.patricbrc.org/webinar/protein_family_sorter.html">here</a> to find out more information.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="http://docs.patricbrc.org/webinar/protein_family_sorter.html"
                              title="Protein Family Sorter"
                              target="_blank" rel="noopener">Protein Family Sorter</a></p>
                        <br><br>
                    </div>
                </div>

                <!-- ASM Workshop -->
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_workshop_asm" class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/workshop-ASM-2018.png" alt="PATRIC ASM 2018 Workshop">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Workshop</h1>
                        <h2 class="xl highlight-f upper far">@ ASM Microbe 2018 in Atlanta, GA</h2>
                        <br>
                        <p>The PATRIC/RAST team will be offering a 1-day tutorial workshop on June 7 at ASM Microbe 2018 in Atlanta, GA. The workshop will provide demonstrations and hands-on exercises using key PATRIC features and functionality.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/news/2018/20180404-patric-workshop-at-asm-2018.html"
                              title="PATRIC-RAST Workshop at ASM Microbe 2018"
                              target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>

                <!-- PATRIC Homepage -->
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_homepage" class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                                src="/patric/images/carousel/new-homepage.jpg" alt="PATRIC New Homepage">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Homepage</h1>
                        <h2 class="xl highlight-f upper far">New Design</h2>
                        <br>
                        <p>PATRIC has recently undergone a homepage redesign to better meet the needs of our users. We wanted to streamline our services and make it as easy as possible for users to quickly access areas of PATRIC they need most. Please feel free to check out the new homepage and submit any feedback you may have. It's not 100% complete so expect some changes to still be made.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                                href="https://www.patricbrc.org/home-new"
                                title="PATRIC New Homepage Design"
                                target="_blank" rel="noopener">View New Homepage</a></p>
                        <br><br>
                    </div>
                </div>

                <!-- PATRIC Subsystem -->
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_subsystems" class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                                src="/patric/images/carousel/subsystems.png" alt="PATRIC Subsystems">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Subsystems</h1>
                        <h2 class="xl highlight-f upper far">New Functionality</h2>
                        <br>
                        <p>PATRIC now includes subsystem data for single genome, taxon, and genome group levels.  Subsystems are curated sets of biologically related functional roles across a reference set of genomes, comprising units of expert knowledge about a single biological process.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                                href="https://docs.patricbrc.org//user_guides/organisms_taxon/subsystems_tab.html"
                                title="PATRIC Subsytems"
                                target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>

<% /*
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_cli" class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/CLI.png" alt="PATRIC Webinar">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC CLI</h1>
                        <h2 class="xl highlight-f upper far">Command Line Interface</h2>
                        <p>The PATRIC Command Line Interface (CLI) includes commands and features to
                        1) run PATRIC services, including Genome Assembly and Annotation;
                        2) enable access to PATRIC workspaces;
                        3) manage data objects in the workspace, such as genomes; and
                        4) facilitate access and manipulation of data retrieved from the PATRIC databases.
                        Full-fledged documentation for using the CLI is available as well.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/cli_tutorial/index.html"
                              title="PATRIC CLI Tutorial"
                              target="_blank" rel="noopener">CLI Tutorial</a></p>
                        <br><br>
                    </div>
                </div>
*/ %>
<% /*
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_webinar" class="CarouselContent showOnLoad dijitVisible">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/webinar_PhyloTree.png" alt="PATRIC Webinar">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Webinar</h1>
                        <h2 class="xl highlight-f upper far">Phylogenetic Tree Builder</h2>
                        <p>PATRIC now provides a new service that builds phylogenetic trees. The trees, which can include both private
                        and public data, are built using well-established methods for generating whole-genome phylogenies from amino
                        acid sequences. On November 30th at 3pm EST we will provide a webinar demonstrates this service.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/news/2017/20171122-patric-webinar.html"
                              title="PATRIC Webinar Phylogenetic Tree Builder"
                              target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_workshop" class="CarouselContent showOnLoad dijitVisible">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/workshop_ANL_Aug_2017.jpg" alt="PATRIC Workshop">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Workshop</h1>
                        <h2 class="xl highlight-f upper far">@ Argonne National Laboratory</h2>
                        <p>The PATRIC/RAST teams will be offering a tutorial on 2017-November 14-16, at Argonne National Laboratory
                        in the suburbs of Chicago, IL. The workshop will run for three days, with the third day optional and devoted solely to participants working
                        on their own problems with help from the PATRIC/RAST team members. Included will be genome assembly, annotation, comparative analysis,
                        and variation, as well as metabolic model construction, RNA-Seq analysis, Tn-seq analysis, and phylogenetic tree construction. Registration
                        information is available by clicking the link below.
                        The workshop will be limited to 35 people on a first-come, first-served basis.</p>
                        <br>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/news/2017/20170908-patric-workshop-at-argonne-national-lab.html"
                              title="PATRIC-RAST Workshop at Argonne National Lab"
                              target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>
*/ %>
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_service" class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/new_services.png" alt="New Services and Data" style="padding-top:40px">
                        <h1 class="xxxl sans-alternate upper highlight-e">New Services and Data</h1>
                        <h2 class="xl highlight-f upper far">Recent Release</h2>
                        <strong><a href="/app/PhylogeneticTree" target="_blank" rel="noopener">Phylogenetic Tree Builder</a></strong> constructs custom phylogenetic trees using conserved protein sequences.
                        <br><strong><a href="/app/Tnseq" target="_blank" rel="noopener">Tn-Seq Analysis</a></strong> aligns reads and measures essentiality of Tn-seq data using the TRANSIT software.
                        <br><strong><a href="/app/GenomeDistance" target="_blank" rel="noopener">Similar Genome Finder</a></strong> finds the closest related genomes to selected genome or FASTA file using MInHash.
                        <br><strong><a href="/view/Feature/RefSeq.83332.12.NC_000962.CDS.2726806.2727339.fwd#view_tab=compareRegionViewer" target="_blank" rel="noopener">Compare Region Viewer</a></strong> displays flanking regions of user selected genomes for a particular gene.
                        <br><strong><a href="/view/Taxonomy/1763#view_tab=amr&amp;filter=and(eq(antibiotic,Amikacin),eq(resistant_phenotype,Susceptible))" target="_blank" rel="noopener">AMR Phenotype Data</a></strong> provides AMR phenotype and measurement method for list of genomes.
                        <br><strong><a href="/view/DataType/AntibioticResistance" target="_blank" rel="noopener">Antibiotic Database</a></strong> provides antibiotic name, description, chemical structure, mechanism, and pharmacology.
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/news/2017/20170731-patric-july-2017-release.html"
                              title="New services and Data"
                              target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>
<% /*
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_100k"
                     class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right"
                             src="/patric/images/carousel/PATRIC-100000-Genomes.png" alt="PATRIC crosses 100,000 genomes mark">
                        <h1 class="xxxl sans-alternate upper highlight-e">PATRIC Crosses 100,000 Genomes Mark</h1>
                        <br/>
                        <p>In the May 2017 release, PATRIC has added over 7,700 new genomes,
                         bringing the total number of public genomes in PATRIC to approximately 105,000. This is a notable milestone
                         for the project considering that the database contained only 400 bacterial genomes at the end of 2009 when
                         PATRIC launched the all bacteria Bioinformatics Resource Center. The full list of available bacterial genomes
                         can be accessed from the <a href="/view/Taxonomy/2#view_tab=genomes">Genomes Tab for all bacteria</a> in the PATRIC website.</p>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://docs.patricbrc.org/news/2017/20170531-patric-may-2017-release-brings-total-genomes-to-over-100000-and-includes-21-host-response-data-sets.html"
                              title="PATRIC crosses 100,000 Genomes"
                              target="_blank" rel="noopener">More Information</a></p>
                        <br><br>
                    </div>
                </div>
*/ %>
<% /*
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_ar"
                     class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right" src="/patric/images/carousel/AR_carousel.jpg" alt="Antibiotic Resistance Data">
                        <h1 class="xxxl sans-alternate upper highlight-e">Antibiotic Resistance Data</h1>
                        <h2 class="xl highlight-f upper far">for Infectious Disease Research</h2>
                        <p>Antibiotic Resistance refers to the ability of bacteria to develop resistance to antibiotics
                            through gene mutation or acquisition of antibiotic resistance genes. &nbsp;PATRIC collects
                            known antibiotic resistance genes from reputed external databases and publications and maps
                            them to homologous genes using BLASTP, so you can easily find and analyze them with PATRIC
                            tools. &nbsp;We also incorporate antibiotic susceptibility testing results as additional
                            genome metadata.</p>
                        <br/>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              title="Antibiotic Resistance Data"
                              href="/view/DataType/AntibioticResistance">Explore Data</a></p>
                    </div>
                </div>
*/ %>
<% /*
                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_tb"
                     class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper"><img class="right"
                                              src="/patric/images/carousel/Mycobacterium_tuberculosis.jpg" alt="Supporting the TB research community">
                        <h2 class="xxxl sans-alternate upper highlight-e">Supporting the TB Research Community</h2>
                        <h3 class="xl highlight-f upper far">THROUGH NEW TB@PATRIC RESOURCES</h3>
                        <p>PATRIC announces new web-based features designed to serve TB researchers worldwide. This
                            resource provides fast searching and powerful comparative analysis tools for all <i>Mycobacterium
                                tuberculosis</i> genomes, including the H37Rv reference genome, its variants and other
                            members in the tuberculosis complex. Also included are important reference genomes, <i>M.
                                smegmatis</i> and <i>M. marinum</i>.</p>
                        <br/>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="/view/Taxonomy/1763#view_tab=overview">Visit TB@PATRIC</a></p>
                    </div>
                </div>
*/ %>
            </div>
        </div>
    </div>


    <div style="margin:0px;padding:0px;background: #5a8621;margin-bottom:4px; box-shadow:0px 0px 96px -23px rgba(0,0,0,0.75);z-index:1000;position: relative;">
        <div style="margin:auto;width:925px;padding:0px;">
            <div style="display:table">
                <div style="display:table-row">
                    <% flows.forEach(function(svc, index) { %>
                    <div style="display:table-cell; width:231px;" class="HomeServiceLink<% if (index < 1) { %> selected <% } %>"
                        rel="<%- svc.rel %>">
                        <H3 class="highlight-b"><%- svc.name %></H3>
                        <H4><%- svc.secondary %></H4>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <div class="homeBottomSection">
        <div class="layer" style="text-align: center;">
            <table style="width: 100%">
                <tr>
                    <td style="vertical-align:top;width:70%;">

                        <article class="dlp-hp">
                            <h2 class="wp-headline section-title section-title-b"><span class="wrap">Browse Data</span></h2>
                            <ul class="no-decoration no-underline-links">
                                <li class="first">
                                    <figure>
                                        <a href="/view/DataType/Genomes">
                                            <span class="sr-only">Genomes</span>
                                            <i class="home_dlp home_dlp_genomes"></i>
                                        </a>
                                        <figcaption>GENOMES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href="/view/DataType/GenomicFeatures">
                                            <span class="sr-only">Genomic Features</span>
                                            <i class="home_dlp home_dlp_features"></i>
                                        </a>
                                        <figcaption>GENOMIC FEATURES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href="/view/DataType/SpecialtyGenes">
                                            <span class="sr-only">Specialty Genes</span>
                                            <i class="home_dlp home_dlp_specialtygenes"></i>
                                        </a>
                                        <figcaption>SPECIALTY GENES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href="/view/DataType/ProteinFamilies">
                                            <span class="sr-only">Protein Families</span>
                                            <i class="home_dlp home_dlp_proteins"></i>
                                        </a>
                                        <figcaption>PROTEIN FAMILIES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a href="/view/DataType/Pathways">
                                            <span class="sr-only">Pathways</span>
                                            <i class="home_dlp home_dlp_pathways"></i>
                                        </a>
                                        <figcaption>PATHWAYS</figcaption>
                                    </figure>
                                </li>
                                <li class="last">
                                    <figure>
                                        <a href="/view/DataType/Transcriptomics">
                                            <span class="sr-only">Transcriptomic Experiments</span>
                                            <i class="home_dlp home_dlp_transcriptomics"></i>
                                        </a>
                                        <figcaption>TRANSCRIPTOMICS</figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </article>

                        <article class="tools" style="overflow:hidden;">

                            <h2 class="wp-headline section-title section-title-b tools_headline"><span class="wrap">What Can I Do @ PATRIC?</span>
                            </h2>
                            <div>
                                <div class="column"
                                     style="width: 311px;display:inline-block;vertical-align:top;float:left;margin-right:10px;">
                                    <ul class="no-decoration no-underline-links">
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Genome Assembly</span>
                                                <i aria-hidden="true" class="home_wcid home_wcid-assembly"></i>
                                            </figure>
                                            <h3 class="bold"><a href="/app/Assembly">Genome Assembly</a></h3>
                                            <p>The Genome Assembly Service App can be used to perform an automatic
                                                genome assembly using the latest computational tools. Single or multiple
                                                assemblers can be invoked to compare
                                                results.&nbsp;<strong>Note:&nbsp;</strong><em>You must have a PATRIC
                                                    user account and be logged in to use this service.</em>
                                            </p>
                                        </li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Protein Family Sorter</span>
                                                <i class="home_wcid home_wcid-protein_family_sorter"></i>
                                            </figure>
                                            <h3 class="bold">
                                                <a href="/app/ProteinFamily">Protein Family Sorter
                                                </a>
                                            </h3>
                                            <p>Compares protein families across closely related or diverse groups of
                                                genomes, visualizes them using interactive heatmaps, and generates
                                                multiple sequence alignments and phylogenetic trees for individual
                                                families. The heatmap view is an interactive visualization tool that
                                                provides an overview of the distribution of proteins across a selected
                                                set of genomes.
                                            </p>
                                        </li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Genome Metadata</span>
                                                <i class="home_wcid home_wcid-genome_metadata"></i>
                                            </figure>
                                            <h3 class="bold">
                                                <a href="/view/Taxonomy/2#view_tab=genomes">Genome Metadata
                                                </a>
                                            </h3>
                                            <p>Supports searching for and locating genomes of interest based on various
                                                combinations of 61 different metadata fields. For instance, all genomes
                                                that have been isolated from humans, genomes related by phylogeny, or
                                                genomes related by lifestyle.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column last">
                                    <ul class="no-decoration no-underline-links">
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Genome Annotation</span>
                                                <i class="home_wcid home_wcid-genome_annotation"></i>
                                            </figure>
                                            <h3 class="bold"><a href="/app/Annotation">Genome Annotation</a></h3>
                                            <p>The Genome Annotation Service is a fully-automated pipeline for
                                                annotating bacterial and archaeal genomes using RAST (Rapid Annotation
                                                using Subsystem Technology) to provide high quality genome annotations.&nbsp;<strong>Note:&nbsp;</strong><em>You
                                                    must have a PATRIC user account and be logged in to use this
                                                    service.</em></p></li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Comparative Pathway Tool</span>
                                                <i class="home_wcid home_wcid-comparative_pathways"></i>
                                            </figure>
                                            <h3 class="bold"><a href="/app/ComparativePathway">Comparative Pathway
                                                    Tool</a></h3>
                                            <p>Supports comparison of consistently annotated metabolic pathways across
                                                closely related or diverse groups of genomes and visualizes them using
                                                interactive KEGG maps and heatmaps. The heatmap view is an interactive
                                                visualization&nbsp;tool that provides an overview of the distribution of
                                                genomes across the set of EC numbers within a selected pathway.</p></li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <span class="sr-only">Gene Page Transcriptomics</span>
                                                <i class="home_wcid home_wcid-gene_page_transcriptomics"></i>
                                            </figure>
                                            <h3 class="bold"><a
                                                        href="/view/Feature/PATRIC.83332.12.NC_000962.CDS.2949593.2950486.fwd#view_tab=transcriptomics">Gene
                                                    Page Transcriptomics</a></h3>
                                            <p>Summarizes all comparisons in which a gene is differentially expressed
                                                and associated metadata such as Strain, Gene Modification, and
                                                Experimental Condition.&nbsp;Expression value based filters and metadata
                                                graphical summaries enable quick discovery of top experimental
                                                conditions and gene manipulations related to the differential expression
                                                of the gene. <strong>Note:</strong> <i>Links to example Gene Page for </i><i>VBIMycTub87468_2933</i><i>.&nbsp;</i>
                                            </p></li>
                                    </ul>
                                </div>
                                <!-- <div class="right">
                                    <a class="double-arrow-link" href="Tools">Show all available
                                        tools</a>
                                </div>
                                -->
                            </div>
                        </article>


                        <h2 class="section-title section-title-b"><span class="wrap">Recent News</span></h2>
                        <% news.forEach(function(svc, index) { %>
                        <div style="text-align:left;margin:0px;margin-top:10px;margin-left:4px;"><span
                                    style="padding:4px;color:#555;font-weight:normal;"><%- new Date(Date.parse(svc.pubDate)).toLocaleDateString() %></span>
                        </div>
                        <div style="border:0px; border-top:1px solid #ddd;text-align:center;padding-top:6px;margin:4px;margin-bottom:8px;margin-top:0px;">
                            <div style="font-size:1.3em;text-align:left;padding-left: 20px;color:#000;"><a
                                        href="<%- svc.link %>" target="_blank" rel="noopener"><%- svc.title %></a></div>
                            <div style="text-align:left;padding-left:20px;"><%- svc.summary %></div>
                        </div>
                        <% }) %>
                        <div style="text-align:right;"><a href="https://docs.patricbrc.org/news/" target="_blank" rel="noopener">Read
                                More</a></div>
                    </td>
                    <td style="width:10px;"></td>
                    <td style="vertical-align:top;">
                        <a class="twitter-timeline" data-lang="en" data-height="400" data-dnt="true" data-theme="light" href="https://twitter.com/PATRICBRC?ref_src=twsrc%5Etfw">Tweets by PATRICBRC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                        <h2 class="section-title section-title-b"><span class="wrap">Top 10 Genera</span></h2>
                        <div data-dojo-type="p3/widget/TaxonomyTopNSummary" data-dojo-props="count:10"
                             style="width:100%;margin:0px;"></div>
                        <div style="text-align:right;"><a class="navigationLink" href="/view/Taxonomy/2">Explore All
                                Genera</a></div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <footer class="ondark linkstyle-highlight-c smallest main-footer sans-alternate">
        <div class="layer">
            <div class="container">
                <div class="column" style="border: 0px;">
                    <div class="wrapper">
                        <h3 class="close2x">PATRIC</h3>
                        <p class="close">University of Chicago</p>
                        <p class="close">5801 South Ellis Avenue</p>
                        <p>Chicago, IL 60637-5418</p>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper">
                        <h3 class="close2x">How to Cite PATRIC</h3>
                        <p class="far">If you use PATRIC web resources to assist in research publications or proposals please cite
                            as:</p>
                        <a href="/webpage/website/cite_patric.html">How to cite PATRIC</a>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper">
                        <h3 class="close2x">Funding Statement</h3>
                        <p>This project has been funded in whole or in part with Federal funds from the National
                            Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of
                            Health and Human Services, under Contract No. HHSN272201400027C, awarded to RL Stevens</p>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper no-underline-links">
                        <h3 class="close2x">Follow Us</h3>
                        <ul class="left no-decoration">
                            <li><a href="//twitter.com/PATRICBRC">Twitter</a></li>
                            <li><a href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a></li>
                        </ul>
                        <ul class="left no-decoration">
                            <li><a href="//docs.patricbrc.org/news.rss">RSS</a></li>
                            <li><a href="//www.youtube.com/user/PATRICBRC">YouTube</a></li>
                            <li><a href="//www.addthis.com/bookmark.php?v=250&amp;username=xa-4c40660c515875dc">Share This</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
