<% var services = [
    {name: "Genome Assembly", href: "/app/Assembly"},
    {name: "Genome Annotation", href: "/app/Annotation"},
    {name: "BLAST", href: "/app/BLAST"},
    {name: "Variation Analysis", href: "/app/Variation"},
    {name: "RNA-Seq Analysis", href: "/app/Rnaseq"},
    {name: "Protein Family Sorter", href: "/app/ProteinFamily"},
    {name: "Proteome Comparison", href: "/app/SeqComparison"},
    {name: "Comparative Pathways", href: "/app/ComparativePathway"},
    {name: "Metabolic Reconstruction", href: "/app/Reconstruct"}
] %>
<% var flows = [
    {name: "ASM MICROBE 2017", secondary: "NEW ORLEANS", rel: "carousel_asm", background: "#34698e"},
    {name: "NEW PATRIC WEBSITE", secondary: "OFFICIAL RELEASE", rel: "carousel_newsite", background: "#34698e"},
    {name: "INVESTIGATING", secondary: "ANTIBIOTIC RESISTANCE", rel: "carousel_ar", background: "#34698e"},
    {name: "SUPPORTING", secondary: "THE TB COMMUNITY", rel: "carousel_tb", background: "#34698e"}
] %>
<% var workShops = [
    /*{
        publishDate: new Date(),
        title: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
        summary: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
    }*/
] %>


<div class="home">

    <div style="background-color:#f3f3f3;padding-top:10px;">
        <div class="layer">
            <% include masthead %>
            <% include Banner %>
        </div>
        <div class="layer" style="text-align: center;margin-bottom:0px;height:351px;">
            <div data-dojo-type="dijit/layout/StackContainer" class="carousel"
                 style="background:#f3f3f3;width:100%;margin: auto;margin-top:-1px;margin-bottom:0px;padding:4px;"
                 id="p3carousel">

                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_asm"
                     class="CarouselContent showOnLoad dijitVisible">
                    <div class="wrapper">
                        <img class="right"
                             src="http://enews.patricbrc.org/wp-content/uploads/2017/02/Screen-Shot-2017-02-20-at-5.30.49-PM.png">
                        <h2 class="xxxl sans-alternate upper highlight-e">PATRIC Workshop @ ASM Microbe 2017</h2>
                        <h3 class="xl highlight-f upper far">PATRIC Workshop</h3>
                        <br/>
                        <p style="line-height:15.6px">PATRIC will be hosting a 1-day workshop entitled "Assemble, Annotate and Analyze Your Own
                            Genome using PATRIC, the All Bacterial Bioinformatics Resource Center," <strong>workshop
                                number 001-WS</strong> at the ASM Microbes 2017 on June 1, 2017 in New Orleans,
                            Louisiana.&nbsp; The workshop will cover genome assembly and annotation, comparative
                            genomics, RNA-Seq and transcriptomic analysis, and calling SNPs, MNPs, and indels using
                            PATRIC's new Variation pipeline.&nbsp; The workshop will focus on analyzing researcher's
                            private data compared to the available public data.

                            Seating is limited, so please register soon if you are interested.&nbsp; The main ASM
                            Microbes 2017 registration page is <a
                                    href="https://registration.experientevent.com/showasm171/Default.aspx?flowcode=ATT&amp;_ga=1.153913848.1104899086.1477325011">here</a>.
                            &nbsp;Note that you must register for the conference in order to sign up for workshops.</p>
                        <br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://registration.experientevent.com/showasm171/Default.aspx?flowcode=ATT&amp;_ga=1.153913848.1104899086.1477325011"
                              target="_blank">Register</a></p>
                        <br><br>
                    </div>
                </div>

                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_newsite"
                     class="CarouselContent showOnLoad dijitVisible">
                    <div class="wrapper">
                        <h2 class="xxxl sans-alternate upper highlight-e">New PATRIC Website Release</h2>
                        <h3 class="xl highlight-f upper far">Welcome to the new version of the PATRIC Website</h3>
                        <br/>
                        <p>Updates to the website include layout changes, more consistency in using PATRIC tools and
                            data, streamlined operations, and other enhancements. Data stored in private workspaces (for
                            registered users) is available from the new site - no data or user account migration is
                            necessary. A QuickStart video, available from the Help menu at the top of the page, provides
                            a brief overview of the new layout and features. You can also contact us from the Help /
                            Provide Feedback menu option if you have issues. We will maintain the prior version of the
                            website at <a href="https://www.legacy.patricbrc.org" target="_blank">https://www.legacy.patricbrc.org</a>
                            for approximately 2 months. </p>
                        <br><br>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="https://www.legacy.patricbrc.org/">Legacy Site</a></p>
                        <br><br>
                    </div>
                </div>

                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_ar"
                     class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper">
                        <img class="right" src="http://enews.patricbrc.org/wp-content/uploads/2014/05/AR_carousel.jpg">
                        <h2 class="xxxl sans-alternate upper highlight-e">Antibiotic Resistance Data</h2>
                        <h3 class="xl highlight-f upper far">for Infectious Disease Research</h3>
                        <p>Antibiotic Resistance refers to the ability of bacteria to develop resistance to antibiotics
                            through gene mutation or acquisition of antibiotic resistance genes. &nbsp;PATRIC collects
                            known antibiotic resistance genes from reputed external databases and publications and maps
                            them to homologous genes using BLASTP, so you can easily find and analyze them with PATRIC
                            tools. &nbsp;We also incorporate antibiotic susceptibility testing results as additional
                            genome metadata.</p>
                        <br/>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="/view/DataType/AntibioticResistance">Explore Data</a></p>
                    </div>
                </div>

                <div data-dojo-type="dijit/layout/ContentPane" id="carousel_tb"
                     class="CarouselContent showOnLoad dijitHidden">
                    <div class="wrapper"><img class="right"
                                              src="http://enews.patricbrc.org/wp-content/uploads/2013/05/Mycobacterium_tuberculosis_14313982_1.jpg">
                        <h2 class="xxxl sans-alternate upper highlight-e">Supporting the TB Research Community</h2>
                        <h3 class="xl highlight-f upper far">THROUGH NEW TB@PATRIC RESOURCES</h3>
                        <p>PATRIC announces new web-based features designed to serve TB researchers worldwide. This
                            resource provides fast searching and powerful comparative analysis tools for all <i>Mycobacterium
                                tuberculosis</i> genomes, including the H37Rv reference genome, its variants and other
                            members in the tuberculosis complex. Also included are important reference genomes, <i>M.
                                smegmatis</i> and <i>M. marinum</i>.</p>
                        <br/>
                        <p><a class="button upper sans-alternate largest highlight avoid-arrow"
                              href="/view/Taxonomy/1763#view_tab=overview">Visit TB@PATRIC</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div style="margin:0px;padding:0px;background: #5a8621;margin-bottom:4px; box-shadow:0px 0px 96px -23px rgba(0,0,0,0.75);z-index:1000;position: relative;">
        <div style="margin:auto;width:925px;padding:0px;">
            <table style="width:100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <% flows.forEach(function(svc, index) { %>
                    <td style="width:25%" class="HomeServiceLink<% if (index < 1) { %> selected <% } %>"
                        rel="<%- svc.rel %>">
                        <H3 class="highlight-b"><%- svc.name %></H3>
                        <H4><%- svc.secondary %></H4>
                    </td>
                    <% }) %>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="homeBottomSection">
        <div class="layer" style="text-align: center;">
            <table style="width: 100%">
                <tr>
                    <td style="vertical-align:top;width:70%;">

                        <article class="dlp-hp">
                            <h2 class="wp-headline section-title section-title-b"><span class="wrap"><span class="wrap">Browse Data</span></span>
                            </h2>
                            <ul class="no-decoration no-underline-links">
                                <li class="first">
                                    <figure><a href="/view/DataType/Genomes"><img
                                                    src="/patric/images/dlp-hp-genomes.png" alt="Genomes"></a>
                                        <figcaption>GENOMES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="/view/DataType/GenomicFeatures"><img
                                                    src="/patric/images/dlp-hp-features.png" alt="Genomic Features"></a>
                                        <figcaption>GENOMIC FEATURES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="/view/DataType/SpecialtyGenes"><img
                                                    src="/patric/images/dlp-hp-specialtygenes.png"
                                                    alt="Specialty Genes"></a>
                                        <figcaption>SPECIALTY GENES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="/view/DataType/ProteinFamilies"><img
                                                    src="/patric/images/dlp-hp-proteins.png" alt="Protein Families"></a>
                                        <figcaption>PROTEIN FAMILIES</figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure><a href="/view/DataType/Pathways"><img
                                                    src="/patric/images/dlp-hp-pathways.png" alt="Pathways"></a>
                                        <figcaption>PATHWAYS</figcaption>
                                    </figure>
                                </li>
                                <li class="last">
                                    <figure><a href="/view/DataType/Transcriptomics"><img
                                                    src="/patric/images/dlp-hp-transcriptomics.png"
                                                    alt="Transcriptomic Experiments"></a>
                                        <figcaption>TRANSCRIPTOMICS</figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </article>

                        <article class="tools" style="overflow:hidden;">

                            <h2 class="wp-headline section-title section-title-b tools_headline"><span class="wrap">What Can I Do @ PATRIC?</span>
                            </h2>
                            <div>
                                <div class="column"
                                     style="width: 311px;display:inline-block;vertical-align:top;float:left;margin-right:10px;">
                                    <ul class="no-decoration no-underline-links">
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <a href="/app/Assembly">
                                                    <img src="http://enews.patricbrc.org/wp-content/uploads/2015/03/Assembly-thumb-100x75.png"
                                                         alt="Genome Assembly">
                                                </a>
                                            </figure>
                                            <h4 class="bold"><a href="/app/Assembly">Genome Assembly</a></h4>
                                            <p>The Genome Assembly Service App can be used to perform an automatic
                                                genome assembly using the latest computational tools. Single or multiple
                                                assemblers can be invoked to compare
                                                results.&nbsp;<strong>Note:&nbsp;</strong><em>You must have a PATRIC
                                                    user account and be logged in to use this service.</em>
                                            </p>
                                        </li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <a href="/app/ProteinFamily">
                                                    <img src="http://enews.patricbrc.org/wp-content/uploads/2012/03/protein_family_sorter_for_homepage_tool.png"
                                                         alt="Protein Family Sorter">
                                                </a>
                                            </figure>
                                            <h4 class="bold">
                                                <a href="/app/ProteinFamily">Protein Family Sorter
                                                </a>
                                            </h4>
                                            <p>Compares protein families across closely related or diverse groups of
                                                genomes, visualizes them using interactive heatmaps, and generates
                                                multiple sequence alignments and phylogenetic trees for individual
                                                families. The heatmap view is an interactive visualization tool that
                                                provides an overview of the distribution of proteins across a selected
                                                set of genomes.
                                            </p>
                                        </li>
                                        <li class="clear">
                                            <figure class="figure-right">
                                                <a href="/view/Taxonomy/2#view_tab=genomes">
                                                    <img src="http://enews.patricbrc.org/wp-content/uploads/2012/03/collage-100x75-05.png"
                                                         alt="Genome Metadata">
                                                </a>
                                            </figure>
                                            <h4 class="bold">
                                                <a href="/view/Taxonomy/2#view_tab=genomes">Genome Metadata
                                                </a>
                                            </h4>
                                            <p>Supports searching for and locating genomes of interest based on various
                                                combinations of 61 different metadata fields. For instance, all genomes
                                                that have been isolated from humans, genomes related by phylogeny, or
                                                genomes related by lifestyle.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column last">
                                    <ul class="no-decoration no-underline-links">
                                        <li class="clear">
                                            <figure class="figure-right"><a href="/app/Annotation"><img
                                                            src="http://enews.patricbrc.org/wp-content/uploads/2012/05/Genome-Annotation-thumb-100x70.png"
                                                            alt="Genome Annotation"></a></figure>
                                            <h4 class="bold"><a href="/app/Annotation">Genome Annotation</a></h4>
                                            <p>The Genome Annotation Service is a fully-automated pipeline for
                                                annotating bacterial and archaeal genomes using RAST (Rapid Annotation
                                                using Subsystem Technology) to provide high quality genome annotations.&nbsp;<strong>Note:&nbsp;</strong><em>You
                                                    must have a PATRIC user account and be logged in to use this
                                                    service.</em></p></li>
                                        <li class="clear">
                                            <figure class="figure-right"><a href="/app/ComparativePathway"><img
                                                            src="http://enews.patricbrc.org/wp-content/uploads/2012/03/comparative_pathways_for_homepage_tool.png"
                                                            alt="Comparative Pathway Tool"></a></figure>
                                            <h4 class="bold"><a href="/app/ComparativePathway">Comparative Pathway
                                                    Tool</a></h4>
                                            <p>Supports comparison of consistently annotated metabolic pathways across
                                                closely related or diverse groups of genomes and visualizes them using
                                                interactive KEGG maps and heatmaps. The heatmap view is an interactive
                                                visualization&nbsp;tool that provides an overview of the distribution of
                                                genomes across the set of EC numbers within a selected pathway.</p></li>
                                        <li class="clear">
                                            <figure class="figure-right"><a
                                                        href="/view/Feature/PATRIC.83332.12.NC_000962.CDS.2949593.2950486.fwd#view_tab=transcriptomics"><img
                                                            src="http://enews.patricbrc.org/wp-content/uploads/2013/06/gene_page_homepage_tool.jpg"
                                                            alt="Gene Page Transcriptomics"></a></figure>
                                            <h4 class="bold"><a
                                                        href="/view/Feature/PATRIC.83332.12.NC_000962.CDS.2949593.2950486.fwd#view_tab=transcriptomics">Gene
                                                    Page Transcriptomics</a></h4>
                                            <p>Summarizes all comparisons in which a gene is differentially expressed
                                                and associated metadata such as Strain, Gene Modification, and
                                                Experimental Condition.&nbsp;Expression value based filters and metadata
                                                graphical summaries enable quick discovery of top experimental
                                                conditions and gene manipulations related to the differential expression
                                                of the gene. <b>Note:</b> <i>Links to example Gene Page for </i><i>VBIMycTub87468_2933</i><i>.&nbsp;</i>
                                            </p></li>
                                    </ul>
                                </div>
                                <!-- <div class="right">
                                    <a class="double-arrow-link" href="Tools">Show all available
                                        tools</a>
                                </div>
                                -->
                            </div>
                        </article>


                        <h2 class="section-title section-title-b"><span class="wrap">Recent News</span></h2>
                        <% news.forEach(function(svc, index) { %>
                        <div style="text-align:left;margin:0px;margin-top:10px;margin-left:4px;"><span
                                    style="padding:4px;color:#555;font-weight:normal;"><%- new Date(Date.parse(svc.pubDate)).toLocaleDateString() %></span>
                        </div>
                        <div style="border:0px; border-top:1px solid #ddd;text-align:center;padding-top:6px;margin:4px;margin-bottom:8px;margin-top:0px;">
                            <div style="font-size:1.3em;text-align:left;padding-left: 20px;color:#000;"><a
                                        href="<%- svc.link %>" target="_blank"><%- svc.title %></a></div>
                            <div style="text-align:left;padding-left:20px;"><%- svc.summary %></div>
                        </div>
                        <% }) %>
                        <div style="text-align:right;"><a href="http://enews.patricbrc.org" target="_blank">Read
                                More</a></div>
                    </td>
                    <td style="width:10px;"></td>
                    <td style="vertical-align:top;">
                        <h2 class="section-title section-title-b"><span class="wrap">Top 10 Genera</span></h2>
                        <div data-dojo-type="p3/widget/TaxonomyTopNSummary" data-dojo-props="count:10"
                             style="width:100%;margin:0px;"></div>
                        <div style="text-align:right;"><a class="navigationLink" href="/view/Taxonomy/2">Explore All
                                Genera</a></div>
                        <% include workshops %>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <footer class="ondark linkstyle-highlight-c smallest no-underline-links main-footer sans-alternate">
        <div class="layer">
            <div class="container">
                <div class="column" style="border: 0px; min-height: 143px;">
                    <div class="wrapper">
                        <h4 class="close2x normal-weight">PATRIC</h4>
                        <p class="close">University of Chicago</p>
                        <p class="close">5801 South Ellis Avenue</p>
                        <p>Chicago, IL 60637-5418</p>
                    </div>
                </div>
                <div class="column" style="min-height: 143px;">
                    <div class="wrapper">
                        <h4 class="normal-weight close2x">How to Cite PATRIC</h4>
                        <p>If you use PATRIC web resources to assist in research publications or proposals please cite
                            as:</p>
                        <a class="button" href="/content/CitePATRIC">How to cite PATRIC</a>
                    </div>
                </div>
                <div class="column" style="min-height: 143px;">
                    <div class="wrapper">
                        <h4 class="normal-weight close2x">Funding Statement</h4>
                        <p>This project has been funded in whole or in part with Federal funds from the National
                            Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of
                            Health and Human Services, under Contract No. HHSN272201400027C, awarded to RL Stevens</p>
                    </div>
                </div>
                <div class="column last bold" style="min-height: 143px;">
                    <div class="wrapper">
                        <h4 class="normal-weight close">Follow Us</h4>
                        <ul class="left no-decoration">

                            <li><a class="footer-icons sprite-icon-twitter" href="//twitter.com/PATRICBRC">Twitter</a>
                            </li>
                            <li class="last"><a class="footer-icons sprite-icon-facebook"
                                                href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a>
                            </li>
                        </ul>
                        <ul class="left no-decoration">
                            <li><a class="footer-icons sprite-icon-rss" href="http://enews.patricbrc.org/feed/">RSS</a>
                            </li>
                            <li><a class="footer-icons sprite-icon-youtube" href="//www.youtube.com/user/PATRICBRC">YouTube</a>
                            </li>
                            <li class="last"><a class="footer-icons sprite-icon-share"
                                                href="//www.addthis.com/bookmark.php?v=250&amp;username=xa-4c40660c515875dc">Share
                                    This</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
